@using dotnetCoreMVC
@model IEnumerable<AuthorsBooksViewModel>

@foreach (var authors in ViewBag.Authors)
{
    <a href="/Author/Show/@authors.AuthorId"> @authors.FirstName @authors.LastName</a>
}    

<form asp-controller="Books" asp-action="Add" method="post">
    <label for="title">Wpisz nazwe ksiazki</label>
    <input type="text" class="form-control" name="title"><br>
    <input type="hidden" class="form-control" name="actualAuthorId" value=@ViewBag.actualAuthorId ><br>
    <button type="submit" class="btn btn-default">Dodaj nową pozycję</button>
</form>

<br /><br />
<div>
@{
    var item2 = ViewBag.wynik;
    var list = ViewData["wynik2"].GetType();
}

@foreach(var item in Model)
{
    <p>
    @item.Authors.FirstName
    @item.Authors.LastName
    @item.Books.Title
    <br />
    </p>
}
</div>
